.header {
  background-color: rgb(68, 85, 102);
  height: 60px;
}
.titleList {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100%;
  border: 0;
}
.title{
  display: flex;
  flex:1;
  height: 100%;
  font-size: 18px;
  color: white;
  justify-content: center;
}

.title:hover{
  cursor: pointer;
  background-color: rgba(105, 112, 117, 0.6);
}

.profile{
  border-radius: 30px;
  transform: rotate(0deg);
  transition: transform 1.5s ease;
}
.profile:hover{
  transform: rotate(360deg);
}
.leftHeader{
  height: 100%;
  display: flex;
}

.leftHeader span:nth-child(2){
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
  color: white;
  height: 100%;
  margin-left: 5px;
}

.titleList span[class^='iconfont'] {
  font-family: "iconfont" !important;
  font-size: 20px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
