.timeline{
   position:relative;
   top:10px;
   left:-6px;
   margin-bottom: 10px;
 }
 
 
 .desc {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    /* top: 40px; */
  }

.year {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: -5px;
}