.timeline{
   position:relative;
   top:20;
 }
 
 
 .desc {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    /* top: 40px; */
  }

.year {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: -5px;
}