 .desc {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 40px;
  }

.year {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: 4px;
}

.link{
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}