.article{
    min-height: 10vh;
}

.postHeader{
    text-align:center;

}

.title{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(68,85,102);
}


.subInformation span[class^='iconfont'] {
  font-family: "iconfont" !important;
  font-size: 1.1rem !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.divider{
    height: 1rem;
    border: 1px solid rgba(0,0,0,0.5);
}

.articleDetail{
    font-size: 0.9rem;
}
